<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                class="fa fa-home w3-margin-right"></i>Logo</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i
                class="fa fa-globe"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
           title="Account Settings"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
                class="fa fa-envelope"></i></a>


        <div class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="button" value="Sign Out"/>
            </form>
        </div>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center" th:text="${user.firstName} ${user.lastName}}">Nisreen</h4>
                    <p class="w3-center"><img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle"
                                              style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i><span
                        th:text="${user.username}">nana</span><br/><br/>
                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
                    <span th:text="${user.email}">nana@gmail.com</span><br/><br/>
                </div>
            </div>
            <br>

            <!-- Accordion -->
            <div class="w3-card w3-round">
                <div class="w3-white">
                    <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                            class="fa fa-heart fa-fw w3-margin-right"></i> XP
                    </button>
                    <div id="Demo1" class="w3-hide w3-container">
                        <p th:text="${user.xp}">164</p>
                    </div>
                    <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                            class="fa fa-level-up fa-fw w3-margin-right"></i> Level
                    </button>
                    <div id="Demo2" class="w3-hide w3-container">
                        <p th:text="${user.level}">16</p>
                    </div>

                </div>
            </div>
            <br>

            <!-- Interests -->
            <div class="w3-card w3-round w3-white w3-hide-small">
                <div class="w3-container">
                    <p>Interests</p>
                    <p>
                        <span class="w3-tag w3-small w3-theme-d5">Dashboard</span>
                        <span class="w3-tag w3-small w3-theme-d4">refugeescode</span>
                        <span class="w3-tag w3-small w3-theme-d3">Nana</span>
                        <span class="w3-tag w3-small w3-theme-d2">Sadra</span>
                        <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                        <span class="w3-tag w3-small w3-theme">Games</span>
                        <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                        <span class="w3-tag w3-small w3-theme-l3">Design</span>
                        <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                    </p>
                </div>
            </div>
            <br>

            <!-- Alert Box -->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
                <p><strong>Hey!</strong></p>

                <form th:action="@{/}" method="post">
                    <p>For register in moodle Use this Button.</p>
                    <button type="submit" class="w3-button w3-block w3-theme-l1">Register</button>
                </form>
                <br/>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">


            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <div th:if="${param.error}"
                     class="w3-container w3-display-container w3-round w3-theme-l9 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l9 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span><br/>
                    <strong>Error!</strong> There was an error, please try again.<br/><br/>
                </div>
                <div th:if="${param.addednew}"
                     class="w3-container w3-display-container w3-round w3-theme-l1 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l8 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span><br/>
                    <strong>Success!</strong> You registered in MoodleBox.<br/><br/>
                </div>
                <hr class="w3-clear">
                <div class="w3-col m6">

                    <table class="customers">
                        <tr>
                            <th>Enrolled Course</th>
                        </tr>
                        <tr>
                            <td>learn how to learn</td>
                        </tr>
                        <tr th:each="course: ${enrolledcourses}">
                            <td>learn how to learn</td>
                        </tr>

                    </table>
                    <hr class="w3-clear">
                </div>

                <div class="w3-col m6">
                    <table class="customers">
                        <tr>
                            <th>Finished Course</th>
                        </tr>
                        <tr>
                            <td>CS50</td>
                        </tr>
                        <tr>
                            <td th:each="course: ${finishedcourses}">Java</td>
                        </tr>
                    </table>
                    <hr class="w3-clear">
                    <br>
                </div>

            </div>


            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Upcoming Events:</p>
                    <img src="https://www.w3schools.com/w3images/forest.jpg" alt="Forest" style="width:100%;">
                    <p><strong>Holiday</strong></p>
                    <p>Friday 15:00</p>
                    <p>
                        <button class="w3-button w3-block w3-theme-l4">Info</button>
                    </p>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Friend Request</p>
                    <img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
                    <span>Jane Doe</span>
                    <div class="w3-row w3-opacity">
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-green w3-section" title="Accept"><i
                                    class="fa fa-check"></i></button>
                        </div>
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-red w3-section" title="Decline"><i
                                    class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
                <p>ADS</p>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
                <p><i class="fa fa-bug w3-xxlarge"></i></p>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>© 2018 refugees{code}</h5>
</footer>

<footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}






</script>

</body>
</html>
